.card-hero {
  background-color: #00000070;
  width: fit-content;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 30px;
}

.card-hero h1 {
  font-size: 28px;
}

.card-hero .search-bar {
  margin-top: 20px;
}
