se
<section>
  <div class="container">
  <h2>Demande d'ajout mouvement</h2>
  <form id="contact-form" role="form">
    <div>
      <div>
        <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
      </div>
    </div>

    <div class="form-group">
      <div>
        <input type="email" id="email" placeholder="EMAIL" name="email" value="" required>
      </div>
    </div>

    <textarea class="form-control" rows="10" placeholder="DEMANDE DU MOUV DE FOU" name="message" required></textarea>

    <button id="submit" type="submit" value="SEND">
      <div>
        <button type="submit">Envoyer ma demande</button>
      </div>
    </button>

  </form>
</div>
</section>
